.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
  }
  
  .logo img {
    width: 200px;
    height: auto;
  }
  