.subscription-page {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center; /* Center horizontally */
  }
    
    .subscription-page-heading {
      font-size: 32px;
      margin-bottom: 20px;
      color: #333;
    }
    .subscription-page-status {
        font-size: 20px;
        color: #4CAF50;
        margin-bottom: 20px;
      }